.main_div_second_page_for_grid_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.two_div_video_section_tag{
    display: flex;
    flex-direction: row;
    gap: 4%;
}

@media (max-width: 767px) {
.main_div_second_page_for_grid_items{
    margin-top: 11%;
}


}