.container{
    width: 100%;
    /* position: relative; */
    top: 0;
    left: 0;
}
.navbar_div_section{
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
}
.navbar-text{
    color: white;
}